################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Aplayer/obj/Debug/TempPE
/.vs/VideoRecordings/v15
/Aplayer/bin/Debug
/Aplayer/obj/Debug
/DXApplication1/DXApplication1/obj/Debug
/packages
/Test
/VideoRecordings/bin/Release
/VideoRecordings/obj/Debug
/VideoRecordings/obj/Release
/VideoRecordings/bin/Debug
*.licx
*.user
/DXApplication1/DXApplication1
/DXApplication1
